
.Auth {
	margin: 0 auto;
	margin-top: 300px;
	width: 600px;
	border: 2px solid black;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #6E7F80;
	background: linear-gradient(45deg, #E0218A,#007FFF);
	h2 {
		text-align: center;
		margin-bottom: 10px;
	}
	
	
}